{
    "backend": {
        "baseUrl": "https://animeta.net/api-internal",
        "remote": true
    },
    "sentryDsn": "",
    "kakaoApiKey": "",
    "assetBase": "",
    "staticUrl": "",
    "sessionCookieDomain": null
}
