<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}애니메타{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}build/common.css" type="text/css" />
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css?3" type="text/css" />
    {% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ STATIC_URL }}apple-touch-icon-120x.png"><!-- iPhone @2x -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}apple-touch-icon-152x.png"><!-- iPad @2x -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ STATIC_URL }}apple-touch-icon-180x.png"><!-- iPhone @3x -->
    <link rel="icon" sizes="196x196" href="{{ STATIC_URL }}touch-icon-192x.png"><!-- Android -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="google-site-verification" content="dhlhxHlQ_wDcoxu7hcyfWoXOyD79pPryal6fVLUxLeg" />
    {% block head-extra %}{% endblock %}
    <script type="text/javascript">
    var _gaq = [['_setAccount', 'UA-7500828-2'], ['_trackPageview']];
    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>
<body>
<script>
if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect)document.body.className+=' no-svg';
</script>
<div class="header">
<div class="header-inner">
    <h1 class="logo"><a href="/">animeta</a></h1>

{% block menu %}
    <div class="global-search">
        <input type="search" placeholder="작품 검색" />
    </div>
    <ul class="menu menu-global">
        <li><a href="/timeline/">최근 감상평</a></li>
        <li><a href="/charts/works/weekly/">순위</a></li>
        <li><a href="/table/">시간표</a></li>
    </ul>

    <ul class="menu menu-account">
    {% if user.is_authenticated %}
        <li><a href="{{ user.get_absolute_url }}">내 기록</a></li>
        <li><a href="/settings/">설정</a></li>
        <li><a href="/logout/">로그아웃</a></li>
    {% else %}
        <li><a href="/login/">로그인</a></li>
        <li><a href="/signup/">회원가입</a></li>
    {% endif %}
    </ul>
{% endblock %}
</div>
<div style="clear: both"></div>
</div>

{% block join-now %}
{% if not user.is_authenticated %}
<div class="header-notice notice-join-now">
    <p><strong>애니메타</strong>는 애니메이션, 만화, 드라마 등의 감상 기록을 관리할 수 있는 서비스입니다.</p>
    <div class="btn"><a href="/signup/">지금 바로 가입하기 &raquo;</a></div>
</div>
{% endif %}
{% endblock %}

{% if messages %}
<ul id="messages" class="messages">
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}

    <li class="close"><a href="" onclick="$('#messages').hide(); return false">닫기</a></li>
</ul>
{% endif %}

<div id="nav">
{% block nav %}
{% endblock %}
</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

<div class="footer">
    <a href="http://dittos.pe.kr/sapzil">지속 가능한 삽질</a>에서 만들고 돌립니다. /
    <a href="http://blog.animeta.net/">공식 블로그</a> /
    <a href="/support/">버그 신고 및 기능 건의</a> /
    <a href="http://github.com/dittos/animeta" target="_blank">Fork me on GitHub</a>
</div>

<script type="text/javascript">window.STATIC_URL = '{{ STATIC_URL }}'</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}raven.min.js"></script>
{% if not settings.DEBUG %}
<script>
Raven.config('http://fb3fd1fc77c94c4799d9fc7228260818@sentry.sapzil.org/3', {
    //whitelistUrls: [/example\.com/]
}).install();
</script>
{% endif %}
<div id="fb-root"></div>
<script>
  window.fbInitCallbacks = [];
  window.fbAsyncInit = function() {
    FB.init({
      appId: '{{ settings.FACEBOOK_API_ID }}',
      channelUrl : '//' + location.host + '/static/fb_channel.html',
      cookie: true,
      status: true,
      xfbml: true
    });
    $.each(window.fbInitCallbacks, function(_, f) { f(FB); });
    window.fbInitCallbacks = {push: function(f) { f(FB); }};
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/ko_KR/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script src="//cdn.jsdelivr.net/typeahead.js/0.10.2/typeahead.jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/es5.shim/2.1.0/es5-shim.min.js"></script>
<script src="//cdn.jsdelivr.net/es5.shim/2.1.0/es5-sham.min.js"></script>
{% if asset_filenames.common %}
<script type="text/javascript" src="{{ STATIC_URL }}build/{{ asset_filenames.common }}"></script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}common.js?1"></script>
{% block js %}
{% endblock %}
</body>
</html>
