{% load status %}

<div class="history">
<p>
{% if show_work %}
	<a href="{% url work.views.detail history.work.title %}" class="work">{{ history.record.title }}</a>
{% endif %}
{% status_text of history %}
{% if history.updated_at %}
	<a href="{% url record.views.history_detail history.user.username history.id %}" class="updated" title="{{ history.updated_at }}">{{ history.updated_at|timesince }} 전</a>
{% endif %}
{% if show_user %}
	<a href="{% url user.views.library history.user %}" class="user">{{ history.user.username }}</a>
{% endif %}
{% if can_delete %}
	<a href="{% url record.views.delete_history history.user.username history.id %}" class="delete">지우기</a>
{% endif %}
</p>
{% if history.comment %}
<p class="comment">{{ history.comment }}</p>
{% endif %}
</div>
