<form action="" method="post" id="add-record">
<input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}" />
<table>
{% if form.work_title %}
<tr>
    <th>{{ form.work_title.label_tag }}</th>
    <td>{{ form.work_title }}</td>
</tr>
{% endif %}
{% if form.category %}
<tr>
    <th>{{ form.category.label_tag }}</th>
    <td>{{ form.category }}</td>
</tr>
{% endif %}
<tr>
    <th><label for="id_status_type">감상 상태</label></th>
    <td>{{ form.status_type }} @ {{ form.status }}<span id="suffix">화</span></td>
</tr>
<tr class="comment">
    <th>{{ form.comment.label_tag }}</th>
    <td>
        {{ form.comment }}<br />
        <span class="description">선택사항입니다.</span>
    </td>
</tr>
<tr id="connected-services">
    <th>
    {% if not connected_services %}
        <input type="checkbox" disabled="disabled" />
    {% else %}
        {{ form.publish }}
    {% endif %}
    </th>
    <td>
        {{ form.publish.label_tag }}<br />
        <span class="description">
        연동된 서비스: 
        {% for module, setting in connected_services %}
            {{ module.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            없음
        {% endfor %}
            <a href="/connect/">설정</a>
        </span>
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="submit" value="기록" />
        {% if record %}또는 <a href="{% url record.views.delete record.id %}">삭제</a>{% endif %}
    </td>
</tr>
</table>
</form>
