{% extends "base.html" %}

{% load status %}

{% block head-extra %}
<style type="text/css">#nav { display: none; }</style>
{% endblock %}

{% block content %}
<div id="intro">
<h2>애니메타에 오신 것을 환영합니다.</h2>
<p>애니메타는 애니메이션 감상 기록을 관리할 수 있는 서비스입니다. 애니메이션 뿐만 아니라 드라마, 시트콤, 단행본 만화, 잡지 등 모든 연재물에 대해 기록할 수 있습니다.</p>

<p><img src="/static/screenshot.png" alt="사용 예" id="screenshot" /></p>
</div>

<div class="aside">
<p id="join-now">아직 회원이 아니신가요? <a href="/signup/">가입하기 &raquo;</a></p>

{% include "registration/login_form.html" %}

<h2>주간 인기 작품</h2>
<ol class="chart">
{% for rank, work in weekly_works %}
	<li><span class="rank">{{ rank }}위</span> <a href="{{ work.get_absolute_url }}">{{ work }}</a></li>
{% endfor %}
</ol>
</div>

<script type="text/javascript">$(function() { $('#login_username').focus() })</script>
{% endblock %}
