{% extends 'base_js.html' %}

{% block title %}{{ title }} - 애니메타{% endblock %}

{% block head-extra %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="tv_show">
    <meta property="og:url" content="http://animeta.net{% url "work.views.detail" title %}">
    <meta property="og:site_name" content="animeta">
    <meta property="og:description" content="">
    <meta property="fb:app_id" content="153413084690553">
    <link href="{{ STATIC_URL }}build/{{ asset_filenames.work.css }}" rel="stylesheet">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}build/{{ asset_filenames.work.js }}"></script>
{% endblock %}
