{
    "backend": {
        "baseUrl": "http://localhost:8080",
        "v4BaseUrl": "http://localhost:8081/api/v4",
        "adminNewBaseUrl": "http://localhost:8081/api/admin/v0",
        "graphqlUrl": "http://localhost:8081/api/graphql",
        "remote": false
    },
    "sentryDsn": "",
    "sentryDsnNew": "",
    "frontendSentryDsn": "",
    "kakaoApiKey": "",
    "assetBase": "",
    "staticUrl": ""
}
