{
    "backend": {
        "baseUrl": "http://localhost:8080",
        "remote": false
    },
    "sentryDsn": "",
    "sentryDsnNew": "",
    "kakaoApiKey": "",
    "assetBase": "",
    "staticUrl": ""
}
