{% extends "user/base.html" %}

{% load status %}
{% load indexing %}

{% block content %}
<div id="library-header">
<form method="get" action="" id="filter-form">
<p>작품이 {{ record_count }}개 등록되어 있습니다.</p>

<p>
상태: {{ filter_form.type }}
</p>

<p>
<label for="category">분류:</label>
<select name="category" id="category">
	<option value="">전체 ({{ record_count }})</option>
{% for category in categories %}
	<option value="{{ category.id }}"{% ifequal category_filter category.id %} selected="selected"{% endifequal %}>{{ category.name }} ({{ category.record_set.count }})</option>
{% endfor %}
</select>
<input type="submit" value="이동" />

{% ifequal owner request.user %}
<a href="/records/category/">관리</a>
{% endifequal %}
</p>

<script type="text/javascript">
function submit_when_changed(selector) {
	return $(selector).live('change', function() {
		$('#filter-form').submit()
	})
}

submit_when_changed('#category').next('input:submit').hide()
submit_when_changed('#id_type')
</script>
</form>
</div>

{% ifnotequal record_count 0 %}
{% index records as columns %}

<div id="records">
{% for column in columns %}
	<div class="column">
	{% for index, records in column %}
		<h2>{{ index }}</h2>
		<ul>
		{% for record in records %}
			<li>
				<a href="{% url work.views.detail record.work.title %}" class="work">{{ record.title }}</a>
				{% status_text of record %}
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
	</div>
{% endfor %}
</div>

{% else %}
{% ifequal owner request.user %}
<h2>아직 기록이 하나도 없네요.</h2>
<p>위에 있는 <a href="/records/add/" class="add-record">기록 추가</a>를 눌러 감상 기록을 등록할 수 있습니다. 아니면, <a href="/records/import/">한꺼번에 기록을 여러개 추가</a>하세요.</p>
<p>귀띔: 굳이 처음부터 모든 작품을 등록할 필요는 없습니다. 생각 날 때마다 해보세요.</p>
{% endifequal %}
{% endifnotequal %}

<script type="text/javascript">
$('#categories li').click(function() {
	location.href = $(this).find('a').attr('href')
})
</script>
{% endblock %}
