{% extends "user/base.html" %}

{% load status %}
{% load indexing %}

{% block content %}
<p>
	작품이 {{ record_count }}개 등록되어 있습니다.
	완료 작품 {{ finished_count }}개 {% if hide_finished %}<a href=".{% ifnotequal category_filter None %}?category={{ category_filter }}{% endifnotequal %}">보이기</a>{% else %}<a href="?finished=hide{% ifnotequal category_filter None %}&amp;category={{ category_filter }}{% endifnotequal %}">숨기기</a>{% endif %}
</p>

<ul id="categories">
	<li{% ifequal category_filter None %} class="current"{% endifequal %}><a href=".{% if hide_finished %}?finished=hide{% endif %}">전체</a> ({{ record_count }})</li>
{% for category in categories %}
	<li{% ifequal category_filter category.id %} class="current"{% endifequal %}><a href="?category={{ category.id }}{% if hide_finished %}&amp;finished=hide{% endif %}">{{ category.name }}</a> ({{ category.record_set.count }})</li>
{% endfor %}
{% ifequal owner request.user %}
	<li class="add"><a href="/records/category/">분류 관리</a></li>
{% endifequal %}
</ul>

{% ifnotequal record_count 0 %}
{% index records as columns %}

<div id="records">
{% for column in columns %}
	<div class="column">
	{% for index, records in column %}
		<h2>{{ index }}</h2>
		<ul>
		{% for record in records %}
			<li>
				<a href="{% url work.views.detail record.work.title %}" class="work">{{ record.work.title }}</a>
				{% status_text of record %}
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
	</div>
{% endfor %}
</div>

{% else %}
{% ifequal owner request.user %}
<h2>아직 기록이 하나도 없네요.</h2>
<p>위에 있는 <a href="/records/add/" class="add-record">기록 추가</a>를 눌러 감상 기록을 등록할 수 있습니다. 아니면, <a href="/records/import/">한꺼번에 기록을 여러개 추가</a>하세요.</p>
<p>귀띔: 굳이 처음부터 모든 작품을 등록할 필요는 없습니다. 생각 날 때마다 해보세요.</p>
{% endifequal %}
{% endifnotequal %}

<script type="text/javascript">
$('#categories li').click(function() {
	location.href = $(this).find('a').attr('href')
})
</script>
{% endblock %}
