{% extends "base.html" %}

{% load cache %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block nav %}
<h1>순위</h1>
<p class="chart-nav">인기 작품:
	<a href="/charts/works/overall/">전체</a>,
	<a href="/charts/works/monthly/">월간</a>,
	<a href="/charts/works/weekly/">주간</a>
</p>
<p class="chart-nav">활발한 사용자:
	<a href="/charts/users/overall/">전체</a>,
	<a href="/charts/users/monthly/">월간</a>,
	<a href="/charts/users/weekly/">주간</a>
</p>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p>기간:
{% if chart.range %}
{{ chart.start|date }} &ndash; {{ chart.end|date }}
{% else %}
전체
{% endif %}</p>
{% cache 7200 chart cache_key %}
<table id="chart">
{% for rank, item in chart %}
<tr>
	<td class="rank">{{ rank }}</td>
	<td class="name"><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
	<td class="bar"><div style="width: {{ item.factor_percent }}%"></div></td>
	<td class="factor">{{ item.factor }}</td>
</tr>
{% endfor %}
</table>
{% endcache %}
{% endblock %}
