{% extends "base.html" %}

{% load status history %}

{% block head-extra %}
<style type="text/css">#nav { display: none; }</style>
{% endblock %}

{% block content %}
<div id="charts">
<h2><a href="/charts/works/weekly/">주간 인기 작품</a></h2>
<ol>
{% for work in weekly_works %}
	<li><a href="{{ work.get_absolute_url }}">{{ work }}</a> ({{ work.factor }})</li>
{% endfor %}
</ol>

<h2><a href="/charts/users/weekly/">주간 열혈 사용자</a></h2>
<ol>
{% for user in weekly_users %}
	<li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></li>
{% endfor %}
</ol>

<h2>오늘 가입한 사용자</h2>
<ul id="newbies">
{% for user in newbies %}
	<li><a href="{{ user.get_absolute_url }}">{{ user }}</a> ({{ user.date_joined|timesince }} 전)</li>
{% endfor %}
</ul>
</div>

<div id="timeline">
<h2>최근 감상평</h2>
{% for history in timeline %}
	{% show_history history "user,work" %}
{% endfor %}
</div>

<script type="text/javascript">$(function() { $('#login_username').focus() })</script>
{% endblock %}
