{% extends "base.html" %}

{% load status %}

{% block nav %}
<h1>최근 감상평</h1>
{% endblock %}

{% block content %}
{% for history in object_list %}
{% include "history.html" with show_user=1 show_work=1 %}
{% endfor %}

{% if page_obj %}
<p id="pagination">
{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}" class="prev-page">&larr; 이전</a>{% endif %}
<strong>{{ page_obj.number }}</strong>/{{ paginator.num_pages }} 페이지
{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}" class="next-page">다음 &rarr;</a>{% endif %}
</p>
{% endif %}
{% endblock %}
