{
    "passPerPreset": true,
    "presets": [
        "react",
        {
            "plugins": [
                "./babelRelayPlugin"
            ]
        },
        "es2015",
        "stage-2"
    ]
}
