root = true

[*.{py,java,kt}]
indent_style = space
indent_size = 4

[web/{frontend,shared}/**.{js,ts,tsx}]
indent_size = 2

[backend-ts/**.{js,ts,tsx,json}]
indent_size = 2

[tooling/**.{js,ts,tsx,json}]
indent_size = 2

[**.graphql]
indent_size = 2
