*.pyc
*.swp
*.orig
backup
env
node_modules
backend-legacy/animeta/settings.py
animeta/static/build/
animeta/media/
.coverage
htmlcov
.env
*.db
frontend/assets.json
frontend/config.json
.idea
*.iml
frontend-dist/
