Django==1.6.5
South==0.7.6
hg+https://bitbucket.org/ditto/django-oauth-provider#egg=django-oauth
git+git://github.com/jbalogh/django-queryset-transform.git#egg=django-queryset-transform
httplib2==0.8
oauth2==1.5.211
psycopg2==2.5
pytz==2013b
tweepy==2.2
wsgiref==0.1.2
Babel==1.3
