<form method="post" action="/login/" id="login-form">
{% if next %}
<input type="hidden" name="next" value="{{ next }}" />
{% endif %}
<table>
<tr>
	<th><label for="login_username">아이디:</label></th>
	<td><input id="login_username" type="text" name="username" maxlength="30" /></td>
</tr>
<tr>
	<th><label for="login_password">암호:</label></th>
	<td><input type="password" name="password" id="login_password" /></td>
</tr>
<tr class="remember">
	<th><input type="checkbox" name="remember" value="1" id="remember" /></th>
	<td><label for="remember">2주 동안 자동 로그인</label></td>
</tr>
<tr>
	<th></th>
	<td><input type="submit" value="로그인" class="button" /></td>
</tr>
</table>
