spring.datasource.url=jdbc:postgresql://host:port/database_name
spring.datasource.username=
spring.datasource.password=
animeta.security.secret-key=
#animeta.security.session-cookie-domain=

animeta.media.base_url=https://animeta.net/media/
animeta.media.root_location=file:/path/to/media/root

#animeta.media.base_url=https://storage.googleapis.com/animeta-static/media/
#animeta.media.root_location=gs://animeta-static/media/
#spring.cloud.gcp.project-id=
#spring.cloud.gcp.credentials.location=file:/path/to/credentials.json

spring.social.twitter.app-id=
spring.social.twitter.app-secret=

#server.port=8081
#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true
