spring.datasource.url=jdbc:postgresql://host:port/database_name
spring.datasource.username=
spring.datasource.password=
animeta.security.secret-key=
#animeta.security.session-cookie-domain=
spring.social.twitter.app-id=
spring.social.twitter.app-secret=

#server.port=8081
#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true
