.tt-dropdown-menu {
  display: block;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 300px;
  width: 300px;
  overflow-y: auto;
  margin-top: -1px;
}
.tt-suggestion {
  display: block;
  padding: 5px !important;
  cursor: pointer;
}
.tt-suggestion .count {
  font-size: 11px;
  color: #999;
  white-space: nowrap;
  display: inline-block;
}
.tt-suggestion.tt-cursor {
  background-color: #f4f4f4;
}
