#join-now { font-size: 1em; margin-left: 0.5em; margin-right: 0.5em; }
#join-now p { line-height: 1.5; float: none; }
#join-now .btn { margin-top: 0.5em; }
#join-now .btn a { float: none; text-align: center; }
.header-notice, #header-inner, #nav, #content, #footer { width: auto; }
#header { text-align: center; }
#header p { float: none; }
#nav { padding: 0 0.5em; }
#content { padding: 0.5em; }
#global-menu { margin-top: 0.5em; }
.menu { float: none !important; clear: both; margin-left: 0; line-height: 1; }
.menu li.menu-connect { display: none; }
.menu li { letter-spacing: -1px; margin: 0 0.5em; }
#timeline { float: none; width: auto; }
#weekly-popular-works { margin-right: 0; padding-top: 0.5em; margin-top: 2em; }
.column { width: auto; float: none; }
#library-header p { display: block; margin-right: 0; }
#records .group { border: none; }
#records h2 { float: none; padding: 0; }
#records ul { margin: 0; }
#forms, #history { float: none; width: auto; }
#history { margin-left: 0; clear: both; }
form table, form table input, form table select { font-size: 1em; }
form th { width: auto !important; min-width: 0 !important; padding-left: 0 !important; }
form.inline h2 { float: none; width: auto; }
#id_comment { width: 15em; }
#add-record { width: auto; }
#comments { margin-right: 0; width: auto; float: none; }
#videos { float: none; width: auto; }
