/* Global Layout */
html, body { height: 100%; }
body { margin: 0; font-size: 14px; }
body, input, textarea, select, optgroup, option
	{ font-family: Malgun Gothic, sans-serif; }
a { color: #4bb000; }
a img { border: none; }
.header-notice, #header-inner, #messages, #nav, #content, #footer { width: 960px; margin: 0 auto; }
#header { padding: 1em; zoom: 1; border-bottom: 1px solid #4bb000; margin-bottom: 0.5em; background-color: #fff; }
#header-inner { overflow: hidden; }
#header a:hover { position: relative; left: 1px; top: 1px; }
#header p { margin: 0; float: left; }
#global-menu { float: left; }
#account-menu { float: right; }
.menu { margin: 0; padding: 0; list-style: none; margin-left: 2em; }
.menu li { margin-right: 1em; display: inline; }
.menu li a { font-size: 1.1em; text-decoration: none; line-height: 2; color: #333; }
#account { float: right; color: #999; }
#account a { text-decoration: none; }
#account a:hover { text-decoration: underline; }
#nav { padding: 0.5em 0; overflow: hidden; }
#nav p { font-size: 0.9em; margin: 0.6em 0 0.6em 1.5em; float: left; }
#nav h1 { margin: 0; font-size: 1.4em; float: left; }
#nav a { text-decoration: none; margin-right: 1em; color: #4b4b4b; }
#nav a:hover { position: relative; left: 1px; top: 1px; }
#facebook-like { margin-left: 1.5em; margin-top: 0.5em; float: left; }
#nav h1 a { margin: 0; }
#messages, .message { background-color: #ffa; border: 1px solid #deb200; list-style: none; margin: 0 auto; padding: 0; }
.message { margin: 0 0 1em 0; padding: 0.5em; }
#messages li { border-bottom: 1px dotted #deb200; padding: 0.5em; }
#close-messages { font-size: 0.8em; border-bottom: 0 !important; }
#close-messages a { display: block; text-decoration: none; font-weight: bold; color: #deb200; }
#content { padding: 1em 0; clear: both; }
#content p { margin: 0 0 1em; }
#content li { line-height: 1.6; }
form table, form table input, form table select { font-size: 1.1em; }
form td { padding: 0.25em 0; }
form th { text-align: right; min-width: 6em; font-weight: normal; padding-right: 0.5em; }
form span.description { font-size: 0.8em; margin-left: 0.8em; color: #999; vertical-align: 0.2em; }
#content h1 { margin-top: 0; font-size: 1.4em; }
#content h2 { font-size: 1.2em; margin: 0 0 1em; }
#footer { padding: 2em; font-size: 0.9em; clear: both; margin-top: 0; color: #666; }
#footer a { text-decoration: none; color: #666; border-bottom: 1px solid #ccc; }

/* Welcome Page */
#intro { line-height: 1.6; }
.aside { padding-top: 0.5em; margin: 0 0 0 650px; width: 20em; }
.header-notice {
    margin: 1em auto;
    padding: 1em;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #666;
    overflow: hidden;
    font-size: 1.2em;
}
.header-notice a { font-weight: bold; text-decoration: none; }
.header-notice p { margin: 0; line-height: 2.7em; float: left; }
.header-notice strong { font-weight: normal; color: #000; }
#join-now .btn a { color: #fff; border-radius: 3px; background-color: #4bb000; display: block; float: right; padding: .75em 1em; line-height: 1; }
#banner-anitable .close { float: right; color: #666; font-size: 12px; }
#screenshot { margin-left: -0.5em; float: left; }

/* Main Page */
.popular-work { margin-top: 1em; }
.popular-work .info { font-size: 1.2em; font-weight: bold; }
.popular-work .history { margin-left: 1em; }
.popular-work.rank1 .info { font-size: 1.4em; }
.popular-work.rank1 .history { font-size: 1em; }
.popular-work .status-text { font-weight: bold; margin-right: 0.5em; }
.popular-work .diff { margin-left: 1em; font-size: 0.7em; vertical-align: 0.2em; font-weight: normal; }
#weekly-popular-works h2, #timeline h2 { color: #999; font-size: 1.1em; letter-spacing: 0.5em; font-weight: normal; border-radius: 10px 10px 0 0; margin: 0; }
#timeline { float: right; width: 22em; }
#timeline .history { padding-top: 1.5em; font-size: 95%; }
#timeline .history p { margin-top: 0 !important; }
#timeline .history .comment { margin-bottom: 0 !important; }
#weekly-popular-works { margin-right: 25em; }
ol.chart, #charts ol { margin-left: 0.5em; padding: 0; list-style: none; }
#newbies { list-style: none; margin-left: 1em; padding: 0; }
#chart { border-collapse: collapse; background-color: #f8f8f8; }
#chart td { border-bottom: 1px solid #ccc; padding: 0.5em; }
.rank { font-weight: bold; color: #666; padding-right: 0.5em; }
#chart .rank { text-align: right; }
#chart .diff { font-size: 0.8em; color: #777; }
#chart .name { width: 15em; }
#chart .name a { text-decoration: none; }
#chart .bar { width: 300px; }
#chart .bar div { background-color: #999; height: 0.5em; }
#chart .factor { font-size: 0.8em; color: #999; width: 3em; }
.diff .up { color: red; }
.diff .down { color: blue; }

/* Login Form (Standalone) */
.remember th { padding-right: 0 !important; }
#login_username, #login_password { width: 10em; }

/* Record Form */
.comment th { vertical-align: top; padding-top: 0.8em; }
.comment .description, #connected-services .description { margin-left: 0; padding-top: 0.5em; display: block; }
#id_status { text-align: right; }
#plus-one { margin-left: 0.25em; text-decoration: none; vertical-align: middle; }
#plus-one:active { position: relative; top: 1px; left: 1px; }
#add-record { width: 40em; float: left; }
#add-record th, #add-record td { padding: 0.5em; }
#connected-services th { vertical-align: top; }
#history { clear: both; }
form.inline { margin-bottom: 0.5em; overflow: hidden; }
form.inline h2 { width: 8em; float: left; }
form.inline p { padding-left: 1em; display: inline; }
.record-detail-header {
    overflow: hidden;
    margin-bottom: 1em;
}
.record-detail-header h1 {
    float: left;
    margin: 0;
}
.record-detail-header .title-form {
    float: left;
}
.record-detail-header .title-form button,
.record-detail-header .title-form input {
    font-size: 1.1em;
}
.record-detail-header .btn {
    float: left;
    vertical-align: middle;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 0.9em;
    border: 1px solid #ccc;
}
.record-detail-header .btn:hover {
    background-color: #f4f4f4;
}
.record-detail-header .btn-edit-title {
    margin-left: 2em;
}
.record-detail-header .btn-delete {
    margin-left: 1em;
    color: #f00;
}
.record-detail-header .category-form {
    float: left;
    margin-left: 1em;
    position: relative;
}
.record-detail-header .category-form label {
    color: #999;
}
.record-detail-header .category-form select {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.record-detail-update {
    clear: both;
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.record-detail-update .progress {
    padding-bottom: 0.5em;
}
.record-detail-update .progress,
.record-detail-update .progress input,
.record-detail-update .progress select {
    font-size: 16px;
}
.record-detail-update textarea {
    width: 30em;
}
.record-detail-update .actions {
    padding-top: 0.5em;
}
.record-detail-update button {
    background: #4bb000;
    color: #fff;
    border: 1px solid #357d00;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    margin-left: 1em;
}

/* Record Delete */
#delete-record table { margin-bottom: 0.5em; }
#delete-record th, #delete-record td { width: auto; padding: 0 0.5em 0.25em 0; }

/* User Section */
#nav a.add-record { color: #06c; font-weight: bolder; }
#nav .feed { vertical-align: -25%; }
#records .group { border-top: 1px solid #ddd; padding: 0.5em 0; }
#records .group h2 { width: 8em; font-size: 1.1em; line-height: 1.6; margin: 0.5em 0; padding: 0; float: left; clear: left; color: #555; font-weight: normal; }
#records ul { margin: 0 0 0 10em; padding: 0; list-style: none; }
#records li { padding: 0.25em 0; font-size: 1.1em; }

#records .item a {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #959595;
}
#records .item a:hover {
    border-radius: 3px;
    background: #999;
    color: #fff;
}
#records .item.can-edit a:hover .item-status {
    padding-right: 16px;
    background: transparent url(edit.gif) right center no-repeat;
    margin-right: 2px;
}
#records .item-status {
    margin-left: 0.5em;
    font-weight: bold;
}
#records .item-watching a {
    color: #000;
    font-weight: bold;
}
#records .item-watching a:hover {
    background-color: #4bb000;
}
#records .item-watching .item-status {
    color: #4bb000;
}
#records .item-watching a:hover .item-status {
    color: #fff;
}

#sorting-type a { text-decoration: none; padding: 3px 7px; border-radius: 10px; color: #666; }
#sorting-type a:hover { background-color: #999; color: #fff; }
#sorting-type a.active:hover, #sorting-type .active { background-color: #666; color: #fff; }
.work { color: #000; text-decoration: none; }
a.work:hover { color: #666; border-bottom: 1px dashed #aaa; }
.status { color: #fff; background-color: #b0b0b0; padding: 3px 4px; margin-left: 0.5em; border-radius: 5px; }
.status a { text-decoration: none; color: #fff !important; }
.status a:hover { padding-right: 16px; background: transparent url(edit.gif) right center no-repeat; margin-right: 2px; }
.status.watching { background-color: #4bb000; }
.status.no-record { background-color: #06c; }
.history { padding-bottom: 0.5em; }
.history p { margin: 1em 0 0.5em !important; }
.history .user { margin-left: 0.5em; text-decoration: none; font-size: 0.85em; }
.history .user:hover { text-decoration: underline; }
.history .work { font-weight: bold; margin-right: 0.5em; }
.history .status { margin-left: 0; }
.history .comment { font-size: 0.9em; line-height: 1.8; }
.history .updated { font-size: 0.85em; margin-left: 1em; color: #888; }
.history a.updated { text-decoration: none; }
.history a.updated:hover { text-decoration: underline; }
.history .delete { text-decoration: none; margin-left: 0.5em; color: #f00; font-size: 0.85em; }
.history .delete:hover { text-decoration: underline; }
#records { clear: both; }
#library-header { margin: 0 0 1.5em 0; }
#library-header p { display: inline; margin-right: 2em; }
#categories { list-style: none; margin: 0 0 1em; padding: 0; border-bottom: 1px solid #ddd; overflow: hidden; }
#categories.editing { border: 0; }
#categories li { float: left; border: 1px solid #ddd; border-bottom: none; background-color: #f4f4f4; margin-left: 0.5em; padding: 0.25em 0.5em; cursor: pointer; color: #666; font-size: 0.9em; }
#categories.editing li { border-bottom: 1px solid #ddd; cursor: default; font-size: 1.2em; clear: left; margin: 0 0 1em; }
#categories li.current { font-weight: bold; }
#categories.editing a, .rename { font-size: 0.7em; margin-left: 1em; color: #06c; text-decoration: underline; }
#categories a { color: #000; text-decoration: none; }
#categories li.add { border: 0; background-color: transparent; }
#categories .items { font-size: 0.8em; color: #000; }
#pagination { padding-top: 1em; }
#pagination .prev-page { margin-right: 1em; }
#pagination .next-page { margin-left: 1em; }
#records .updated { color: #ff8c00; font-size: 0.8em; }

/* Record Import */
#import ul { list-style: none; padding: 0; margin: 0 0 1em; width: 50em; overflow: hidden; }
#import li { float: left; padding: 0.5em; }
#import p { clear: both; }

/* Chart Page */
#nav .chart-nav a { margin: 0; color: #4bb000; }
#nav .chart-nav a:hover { position: static; }

/* Work Page */
#nav .status { margin-right: 1em; }
#nav .status a { margin-right: 0; }
#nav .status a:hover { position: static; }
#comments { padding-right: 1em; margin-right: 410px; }
.episodes { padding-bottom: 0.5em; }
.episodes a { color: #666; }
.episodes .active { color: #4bb000; font-weight: bold; text-decoration: none; }
#info { margin-bottom: 1em; width: 410px; float: right; }
#info dl { margin-top: 0; }
#info dt { font-weight: bold; margin: 0; }
#info dd { margin: 0.5em 0; font-size: 0.9em; }
#videos td { width: 120px; vertical-align: top; padding: 0.5em; }
#videos td a { color: #666; }
#videos .date, #videos .title { display: block; }
#videos .thumbnail { width: 120px; height: 90px; }
#videos .thumbnail img { width: 120px; height: 90px; }
#videos .title { font-size: 0.9em; }
#videos .date { font-size: 0.8em; padding-top: 0.5em; }
#video { float: left; }
#record-form-side { margin-left: 500px; }
#record-form-side table, #record-form-side table input { font-size: 1em !important; }
.status-group h2 { border-bottom: 1px solid #ddd; padding: 0.5em; clear: both; }
.status-group ul { list-style: none; margin: 0 1em; padding: 0; }
.status-group li { float: left; margin-right: 1.5em; margin-bottom: 0.5em; }

/* History Detail */
.history.detail { font-size: 1.2em; }
#context { margin-left: 2em; margin-top: 1em; }
#context h2 { padding-bottom: 0.5em; }
#context .history { margin-left: 1em; }

/* User Settings */
#services { border-collapse: collapse; border-top: 1px solid #ccc; }
#services th { background-color: #f4f4f4; }
#services th, #services td { padding: 0.5em; border-bottom: 1px solid #ccc; }
#services .name { font-weight: bold; }

/* Widget Settings */
#widget-preview { float: left; margin-right: 1em; }
#widget-code { font-size: 0.9em; font-family: Consolas, Courier New, monospace; }

/* Search */
#search { float: right; }
#search-form { margin-bottom: 1em; }
#search-result { list-style: none; padding: 0; margin: 0; }
#search-result li { padding: 1em; clear: both; border-top: 1px solid #ddd; }
#search-result .title { font-size: 1.2em; font-weight: bold; float: left; width: 20em; }
#search-result .title a { text-decoration: none; }
#search-result .my-status { display: block; }

.merged, .merged td a { color: #bbb; }

@media (max-width: 960px) {

#join-now { margin-left: 0.5em; margin-right: 0.5em; }
.header-notice, #header-inner, #nav, #content, #footer, #info { width: auto; }
#info { float: none; }
#nav { padding: 0 0.5em; }
#content { padding: 0.5em; }
#timeline { float: none; width: auto; }
#weekly-popular-works { margin-right: 0; padding-top: 0.5em; margin-top: 2em; }
.column { width: auto; float: none; }
#library-header p { display: block; margin-right: 0; }
#records .group { border: none; }
#records h2 { float: none; padding: 0; }
#records ul { margin: 0; }
form table, form table input, form table select { font-size: 1em; }
form th { width: auto !important; min-width: 0 !important; padding-left: 0 !important; }
form.inline h2 { float: none; width: auto; }
#add-record { width: auto; }
#comments { margin-right: 0; width: auto; float: none; }
#videos { float: none; width: auto; }

}

@media (max-width: 480px) {

#join-now { font-size: 1em; }
#join-now p { line-height: 1.5; float: none; }
#join-now .btn { margin-top: 0.5em; }
#join-now .btn a { float: none; text-align: center; }
#header { text-align: center; }
#header p { float: none; }
#global-menu { margin-top: 0.5em; }
.menu { float: none !important; clear: both; margin-left: 0; line-height: 1; }
.menu li.menu-connect { display: none; }
.menu li { letter-spacing: -1px; margin: 0 0.5em; }
#id_comment { width: 15em; }

}
