<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="/app/backend-1.0.0.war">
    <Resource name="jdbc/animeta"
        auth="Container"
        type="javax.sql.DataSource"
        factory="com.zaxxer.hikari.HikariJNDIFactory"
        minimumIdle="5"
        maximumPoolSize="10"
        connectionTimeout="300000"
        jdbcUrl="jdbc:postgresql://172.17.0.1:5432/animeta_test"
        driverClassName="org.postgresql.Driver"
        closeMethod="close"
        dataSource.implicitCachingEnabled="true"
        dataSource.user="postgres"
        dataSource.password=""
    />
    <Parameter name="spring.datasource.jndi-name" value="java:comp/env/jdbc/animeta" />
    <Environment name="spring.config.location" type="java.lang.String" value="file:/app/application.properties" />
    <!-- For wildcard subdomain cookies (.example.com) -->
    <CookieProcessor className="org.apache.tomcat.util.http.LegacyCookieProcessor" />
</Context>
