Django
South
pytz
tweepy
hg+https://bitbucket.org/ditto/django-oauth-provider#egg=django-oauth
oauth2
git+git://github.com/jbalogh/django-queryset-transform.git#egg=django-queryset-transform
psycopg2
