from animeta.default_settings import *

# turn off this in production stage
DEBUG = True

# Make this unique, and don't share it with anybody.
# Used as password hash salt
SECRET_KEY = ''

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'test.db',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

ME2DAY_APP_KEY = ''
DAUM_API_KEY = ''
TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
FACEBOOK_API_ID = ''
FACEBOOK_API_SECRET = ''

SESSION_COOKIE_DOMAIN = None
#SESSION_COOKIE_DOMAIN = '.animeta.net'

ANITABLE_DATA_DIR = '/path/to/anitable.com/data'
RENDER_BACKEND_URL = 'http://127.0.0.1:8081/'
RENDER_BACKEND_TIMEOUT = 0.1
