{% extends base %}

{% block nav %}
<h1>분류 관리</h1>
{% endblock %}

{% block content %}
<p>분류를 삭제해도 그 분류에 들어있던 기록은 사라지지 않고 미분류 상태로 바뀝니다.</p>
<ul id="categories" class="editing">
{% for category in categories %}
	<li id="category-{{ category.id }}">
		<span class="name">{{ category.name }}</span>
		<a href="/records/category/{{ category.id }}/rename/" class="rename">이름 바꾸기</a>
		<a href="/records/category/{{ category.id }}/delete/">삭제</a>
	</li>
{% endfor %}
</ul>

<form method="post" action="add/">
<h2>분류 만들기</h2>
{% if uncategorized.record_set %}
<p>새로 만들 분류에 넣을 기록 선택:</p>
<p>
{% for record in uncategorized.record_set %}
	<input type="checkbox" name="record[]" value="{{ record.id }}" id="put_{{ record.id }}" /> <label for="put_{{ record.id }}">{{ record.title }}</label>
{% endfor %}
</p>
{% endif %}
<p>분류 이름: <input type="text" name="name" size="12" /> <input type="submit" value="추가" /></p>
</form>

<script type="text/javascript">
$('.rename').click(function(event) {
	event.preventDefault()
	$(this).parent().load($(this).attr('href'))
})

$('#categories').sortable({
	update: function(event, ui) {
		var order = []
		$(this).find('li').each(function() {
			order.push($(this).attr('id').split('-')[1])
		})
		$.post('reorder/', {order: order})
	}
}).disableSelection()
</script>
{% endblock %}
