{% extends "user/base.html" %}

{% load status %}

{% block content %}
<div class="library-container">
    <div class="record-detail-header">
        <h1><a href="{{ record.work.get_absolute_url }}" class="work">{{ record.title }}</a></h1>
    </div>
</div>

<div id="history">
{% for history in history_list %}
    {% include "history.html" with show_delete=can_delete %}
{% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}build/{{ asset_filenames.library }}"></script>
{% endblock %}
