{% extends "user/base.html" %}

{% load status %}

{% block content %}
<div class="library-container">
    <div class="record-detail-header">
        <h1><a href="{{ record.work.get_absolute_url }}" class="work">{{ record.title }}</a></h1>
    </div>
</div>

<div id="history">
{% for history in history_list %}
    {% include "history.html" with show_delete=can_delete %}
{% endfor %}
</div>
{% endblock %}

{% block js %}
{% if form %}
<script>
function plusOne(val) {
    var matches = val.match(/(\d+)[^\d]*$/);
    if (!matches)
        return val;
    var add1 = (parseInt(matches[1], 10) + 1).toString();
    var digits = matches[1].length;
    if (add1.length < digits)
        for (var i = 0; i < digits - add1.length; i++)
            add1 = '0' + add1
    return val.replace(/(\d+)([^\d]*)$/, add1 + '$2');
}

var categoryList = [];
{% for category in category_list %}
categoryList.push({id: {{ category.id }}, name: '{{ category.name|escapejs }}'});
{% endfor %}

APP_DATA = {
    recordId: {{ record.id }},
    categoryList: categoryList,
    connectedServices: '{{ form.connected_services|escapejs }}'
};
</script>
<script src="{{ STATIC_URL }}build/{{ asset_filenames.library }}"></script>
{% endif %}
{% endblock %}
