{% extends "user/base.html" %}

{% block title %}기록 추가 - 애니메타{% endblock %}

{% block content %}
{{ form.errors }}

<form action="" method="post" id="add-record" data-connected-services="{{ form.connected_services }}">
<input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}" />
<table>
{% if form.work_title %}
<tr>
    <th>{{ form.work_title.label_tag }}</th>
    <td>{{ form.work_title }}</td>
</tr>
{% endif %}
{% if form.category %}
<tr>
    <th>{{ form.category.label_tag }}</th>
    <td>{{ form.category }}</td>
</tr>
{% endif %}
<tr>
    <th><label for="id_status_type">감상 상태</label></th>
    <td>{{ form.status_type }} @ {{ form.status }}<span id="suffix">화</span></td>
</tr>
<tr class="comment">
    <th>{{ form.comment.label_tag }}</th>
    <td>
        {{ form.comment }}<br />
        <span class="description">선택사항입니다.</span>
    </td>
</tr>
<tr id="connected-services">
    <th>공유</th>
    <td>
        {{ form.publish_twitter }} {{ form.publish_twitter.label_tag }}
        {{ form.publish_facebook }} {{ form.publish_facebook.label_tag }}
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <button type="submit">기록 추가</button>
    </td>
</tr>
</table>
</form>
{% endblock %}

{% block js %}
<script>
initServiceToggles($('#add-record'));
</script>
{% endblock %}
