{% extends "work/base.html" %}

{% load status %}

{% block content %}
<div id="forms">
<form method="post" action="" class="inline">
<h2>제목 표기 바꾸기</h2>
<p><input type="text" name="work_title" value="{{ work.title }}" /> <input type="submit" value="바꾸기" /></p>
</form>

<form method="post" action="" class="inline">
<h2>분류 바꾸기</h2>
<p>
<select name="category" id="category">
	<option value="">지정 안함</option>
{% for category in category_list %}
	<option value="{{ category.id }}"{% ifequal record.category category %} selected="selected"{% endifequal %}>{{ category.name }}</option>
{% endfor %}
</select>
<input type="submit" value="바꾸기" />
</p>
</form>

<h2>기록 추가</h2>
{% include "record_form.html" %}
</div>

<div id="history">
<h2>지난 기록</h2>
{% for history in history_list %}
<div class="history">
<p>
	{% status_text of history %}

	{% if history.updated_at %}
	<span class="updated">{{ history.updated_at|timesince }} 전</span>
	{% endif %}
	<a href="{% url record.views.history_detail history.user history.id %}" class="detail">#</a>
</p>
{% if history.comment %}
<p class="comment">{{ history.comment }}</p>
{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
