{% extends "user/base.html" %}

{% load status %}

{% block content %}
<form action="{% url record.views.save %}" method="post" id="add-record">
<h2>기록 추가</h2>
<input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}" />
<input type="hidden" name="work_title" value="{{ record.work.title }}" />
<table>
<tr>
	<th>{{ form.work_title.label_tag }}</th>
	<td><strong>{{ record.work.title }}</strong></td>
</tr>
<tr>
	<th>{{ form.category.label_tag }}</th>
	<td>{{ form.category }}</td>
</tr>
<tr id="status">
	<th>{{ form.status.label_tag }}</th>
	<td>
		{{ form.status }}<span id="suffix">화</span>
		<script type="text/javascript">
		$('#status td').append('<a href="#" id="plus-one"><img src="/static/plus.gif" alt="+1" /></a>')
		function determine_suffix() {
			if ($('#id_status').val().match(/^(|.*\d)$/))
				$('#suffix').show()
			else
				$('#suffix').hide()
		}
		determine_suffix()
		$('#id_status').change(determine_suffix).keyup(determine_suffix)
		$('#plus-one').click(function(event) {
			event.preventDefault()
			var $field = $('#id_status')
			var val = $field.val()
			var matches = val.match(/(\d+)[^\d]*$/)
			if (matches)
			{
				var digits = matches[1].length
				var add1 = (parseInt(matches[1], 10) + 1).toString()
				if (add1.length < digits)
					for (var i = 0; i < digits - add1.length; i++)
						add1 = '0' + add1
				$field.val(val.replace(/(\d+)([^\d]*)$/, add1 + '$2'))
			}
		})
		</script>
		<span class="description">비워두면 '완료' 상태로 처리합니다.</span>
	</td>
</tr>
<tr class="comment">
	<th>{{ form.comment.label_tag }}</th>
	<td>
		{{ form.comment }}<br />
		<span class="description">선택사항입니다.</span>
	</td>
</tr>
{% if me2day %}
<tr>
	<th>{{ form.me2day_send }}</th>
	<td>{{ form.me2day_send.label_tag }}</td>
</tr>
{% endif %}
<tr>
	<th></th>
	<td>
		<input type="submit" value="기록" />
		{% if record %}또는 <a href="{% url record.views.delete record.id %}">삭제</a>{% endif %}
	</td>
</tr>
</table>
</form>

<div id="history">
<h2>지난 기록</h2>
{% for history in history_list %}
<div class="history">
<p>
	{% status_text of history %}

	{% if history.updated_at %}
	<span class="updated">{{ history.updated_at|timesince }} 전</span>
	{% endif %}
	<a href="{% url record.views.history_detail history.user history.id %}" class="detail">#</a>
</p>
{% if history.comment %}
<p class="comment">{{ history.comment }}</p>
{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
