@color-main: #4bb000;
@z-overlay: 1000;

body, input, textarea, select, optgroup, option, button {
    margin: 0;
	font-family: "Helvetica Neue",
        "HiraKakuProN-W3","Hiragino Sans GB W3",
        "Apple SD Gothic Neo","Malgun Gothic",
        sans-serif;
}

// Global Header

.mixin-dropdown {
    position: absolute;
    z-index: @z-overlay;
    margin-top: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 140px;

    a {
        line-height: 1;
        padding: 10px;
        display: block;
        color: #666;
        text-decoration: none;
        font-size: 14px;
        &:hover {
            background-color: #f4f4f4;
        }
    }
}

.header {
    border-bottom: 1px solid @color-main;

    .header-inner {
        padding: 16px 0;
        position: relative; // this is needed by .menu-user
    }

    .logo {
        float: left;
        a {
            display: block;
            width: 122px;
            height: 24px;
            text-indent: -9999px;
            background-image: url('../img/animeta.svg');
            background-size: 122px 24px;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }

    .global-search {
        float: left;
        margin-left: 20px;
    }

    .account {
        line-height: 24px;
    }

    .btn {
        display: inline-block;
        line-height: 1;
        border: 1px solid #666;
        padding: 8px - 1px 16px - 1px;
        border-radius: 5px;
        color: #444;
        text-decoration: none;
        font-size: 13px;
        margin-left: 8px;
    }

    .btn-signup {
        border-color: @color-main;
        background: @color-main;
        color: #fff;
    }

    .btn-user {
        .fa-user { margin-right: 5px; }
        .fa-caret-down { margin-left: 10px; }
    }

    .menu-user {
        .mixin-dropdown;
        right: 0;
    }
}

.no-svg .logo a {
    background-image: url('../img/animeta.gif');
}

.global-search {
    width: 200px;
    font-size: 14px;

    .twitter-typeahead {
        width: 100%;
    }

    .tt-hint, .tt-input {
        padding: 5px;
        border: 1px solid #bbb;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.tt-dropdown-menu {
    display: block;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 300px;
    width: 300px;
    overflow-y: auto;
    margin-top: -1px;
}

.tt-suggestion {
    display: block;
    padding: 5px !important;
    cursor: pointer;

    .count {
        font-size: 11px;
        color: #999;
        white-space: nowrap;
        display: inline-block;
    }

    &.tt-cursor {
        background-color: #f4f4f4;
    }
}

// Grids

@grid-spacing: 10px;
@grid-width: 60px;
@grid-columns: 12;

.grid-column (@size) {
    padding-left: @grid-spacing;
    padding-right: @grid-spacing;
    box-sizing: border-box;
    width: percentage(@size / @grid-columns);
}

.generate-columns(@prefix, @n, @i: 1) when (@i =< @n) {
    .grid-@{prefix}-@{i} {
        .grid-column(@i);
    }
    .generate-columns(@prefix, @n, (@i + 1));
}

@media (max-width: 480px) {
    .generate-columns(column-sm, 12);

    .menu-toggle {
        float: left;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
        &.active {
            color: @color-main;
        }
    }

    .global-search,
    .menu-global {
        display: none;
    }

    .menu-global {
        .mixin-dropdown;
        left: 0;
        top: 30px + 16px;
    }
}

@media (min-width: 481px) {
    .generate-columns(column, 12);

    .menu-toggle {
        display: none;
    }

    .menu-global {
        float: left;
        margin-left: 20px;
        line-height: 24px;
        a {
            color: #444;
            text-decoration: none;
            margin-right: 1em;
            &:hover {
                color: @color-main;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 999px) {
    .grid-row {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 980px) {
    .grid-row {
        margin-left: auto;
        margin-right: auto;
        width: (@grid-spacing * 2 + @grid-width) * @grid-columns;
    }
}
