@import "base.less";
@page-width: 962px;
@header-height: 60px;
@grid-spacing: 10px;
@hero-bg: #34495e;

.expand-hitbox (@delta) {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: -@delta; left: -@delta; right: -@delta; bottom: -@delta;
    }
}

.table-container {
    color: #444;
    font-size: 14px;
    line-height: 1;
    max-width: @page-width;
    margin: 20px auto;
    padding: 0 @grid-spacing;
    padding-bottom: 100px;

    a {
        color: #666;
    }

    form {
        margin: 0;
    }
}

.page-title {
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: #444;
    display: inline-block;
    a {
        padding: 5px;
    }
}
.page-header {
    margin: 0 0 20px;
    position: relative;
    .settings {
        position: absolute;
        right: 0;
    }
    .settings-item {
        float: left;
        margin-left: 10px;
    }
}
.settings .switch {
    border: 1px solid #27ae60;
    line-height: 20px;
    display: inline-block;

    span {
        padding: 0 5px;
        color: #666;
        display: inline-block;
        cursor: pointer;
    }
    span:hover {
        color: #27ae60;
    }
    .active {
        font-weight: bold;
        background-color: #27ae60;
        color: #fff !important;
    }
}
.settings span:not(.active) {
    .expand-hitbox (12px);
}
.items {
    clear: both;
    margin-left: -@grid-spacing;
    overflow: hidden;
}
.item {
    float: left;
    margin-bottom: @grid-spacing;
    width: 25%;
}
.item-inner {
    margin-left: @grid-spacing;
    position: relative;
    overflow: hidden;
    background: #2c3e50; // blank color
}

@item-links-height: 34px;
.item-poster {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}
.item-poster-wrap:before {
    content: "";
    display: block;
    padding-top: (318 / 233) * 100%;
}
.item-poster-wrap {
    position: relative;
    margin-bottom: @item-links-height;
}
.b-fade {
    .item-poster {
        opacity: 0;
        transition: opacity 500ms ease-in-out 100ms;
        backface-visibility: hidden;
        &.b-loaded { opacity: 1; }
    }
}
.item-frame {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: @item-links-height;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}
.item-overlay {
    padding: 12px 10px;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}
html.cssgradients .item-overlay {
    padding-top: 40px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.9) 100%);
}
.btn-circle (@size) {
    display: block;
    width: @size;
    height: @size;
    line-height: @size;
    text-align: center;
    border-radius: 999em;
}
.btn-round (@height) {
    display: block;
    height: @height;
    line-height: @height;
    text-align: center;
    border-radius: 999em;
    padding: 0 (@height / 4);
}
.item-actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    .btn-fav { cursor: pointer; }
}
.btn-hover-border (@color, @text-color: #444) {
    background: #fff;
    color: @text-color;
    border: 3px solid #fff;
    transition: background-color 0.1s ease, border-color 0.1s ease, color 0.1s ease;
    &:hover {
        border-color: @color;
    }
    &:active, &.active {
        border-color: @color;
        color: #fff;
        background-color: @color;
    }
}
.btn-fav {
    .btn-round (32px);
    text-decoration: none;
    box-shadow: 0 2px 8px #222;
    font-size: 18px;
    .btn-hover-border (#27ae60);
    position: relative;
    input {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer;
        pointer-events: none;
    }
}
html.touch .btn-fav {
    .expand-hitbox (12px);
}
.item-links {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: @item-links-height - 1px;
    line-height: @item-links-height - 1px;
    text-align: center;
    background-color: #e8e8e8;
    border: 1px solid #bbb;
    border-top: 0;

    .link {
        font-size: 12px;
        color: #444;
        text-decoration: none;
        margin-right: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    .link:last-child {
        margin-right: 0;
    }
}
.item-title {
    font-size: 16px;
    text-shadow: 0 1px 0 #000;
    margin: 0;
    line-height: 1.2;
    padding-bottom: 7px;
}
.item-info {
    font-size: 13px;
    color: #ddd;
    padding-bottom: 10px;
    .studio, .source { white-space: nowrap; }
}
.item-schedule {
    font-size: 13px;
    color: #fff;
    padding-bottom: 2px;
    .date { font-weight: bold; margin-right: 2px; }
    .broadcasts { color: #ccc; font-size: 12px; white-space: nowrap; }
}
.item-schedule-icon (@country) {
    &:before {
        content: "";
        background: e(%("url(../img/flag-%s.png)", @country)) left center no-repeat;
        background-size: 16px 16px;
        padding-left: 22px;
    }
}
.item-schedule-jp {
    .item-schedule-icon ("jp");
}
.item-schedule-kr {
    .item-schedule-icon ("kr");
    padding-top: 7px;
}

.panel-inner { max-width: @page-width; margin: 0 auto; }
.panel {
    box-shadow: 0 2px 8px #222;
    background: #27ae60;
    background: fadeout(#27ae60, 5%);
    padding: 30px 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    color: #fff;
    font-size: 20px;
    text-align: center;

    transition: opacity 250ms ease, bottom 250ms ease;
    opacity: 1;

    &.hidden {
        bottom: -100px;
        opacity: 0;
    }

    .btn {
        display: inline-block;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        .btn-hover-border (@hero-bg);
    }
}

@media screen and (max-width: 960px) {
    .item { width: 33.3333%; }
}

@media screen and (max-width: 640px) {
    .page-title {
        text-align: left;
    }
    .item { width: 50%; }
    .item-title { letter-spacing: -1px; font-size: 15px; }
    .item-info { font-size: 12px; }
    .item-schedule {
        letter-spacing: -1px;
        .broadcasts { display: none; }
    }
    .item-schedule-kr .broadcasts { display: inline; }
    .panel {
        padding: 20px 10px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
    }

    // Disable transitions
    .btn-fav, .btn-login
    { transition: none; }
}
