animeta.security.secret-key=
#animeta.security.session-cookie-domain=
#sentry.dsn=

animeta.media.base_url=https://storage.googleapis.com/animeta-static/media/
animeta.media.root_location=gs://animeta-static/media/
spring.cloud.gcp.project-id=
spring.cloud.gcp.credentials.location=file:/app/credentials.json

spring.social.twitter.app-id=
spring.social.twitter.app-secret=
