name: Backend (TS)

on:
  push:
    branches: [ master ]
    paths:
      - 'backend-ts/**'
      - 'tooling/**'
      - 'Dockerfile.backend-ts'
      - '.github/workflows/backend-ts.yml'
  pull_request:
    paths: ['backend-ts/**', 'tooling/**']

jobs:
  build:

    runs-on: ubuntu-20.04

    defaults:
      run:
        working-directory: .

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2

    # Deploy
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile.backend-ts
        push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        tags: "ghcr.io/dittos/animeta-backend-ts:latest"
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - uses: azure/setup-kubectl@v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    - name: Set up kubeconfig
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      env:
        KUBECONFIG_DATA_BASE64: ${{ secrets.KUBECONFIG_DATA_BASE64 }}
      run: |
        mkdir ~/.kube
        echo $KUBECONFIG_DATA_BASE64 | base64 -d > ~/.kube/config
    - name: Run migration
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: npx zx@7 bin/migrate-remote.mjs
    - name: Rollout
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: |
        kubectl rollout restart deployment/animeta-backend-ts
        kubectl rollout status deployment/animeta-backend-ts
