name: Backend

on:
  push:
    branches: [ master ]
    paths: ['backend/**', '.github/workflows/backend.yml']
  pull_request:
    paths: ['backend/**']

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew
    - name: Build with Gradle
      run: ./gradlew build

    # Deploy
    - name: Set up gcloud
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '270.0.0'
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
    - name: Docker push
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: |
        gcloud auth configure-docker
        ./gradlew dockerTag
        docker tag sapzilorg/animeta-backend:latest gcr.io/ditto-1470749749381/animeta-backend:latest
        docker push gcr.io/ditto-1470749749381/animeta-backend:latest
