name: Web

on:
  push:
    branches: [ master ]
    paths: ['web/**', '.github/workflows/web.yml']
  pull_request:
    paths: ['web/**']

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./web

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read

    steps:

    # Build
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - uses: pnpm/action-setup@v2.0.1
      name: Install pnpm
      id: pnpm-install
      with:
        version: 7
        run_install: false

    - name: Get pnpm store directory
      id: pnpm-cache
      run: |
        echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

    - uses: actions/cache@v3
      name: Setup pnpm cache
      with:
        path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - run: pnpm -C frontend-server run build:bundle
    - run: pnpm -C frontend run build-assets
    - run: pnpm -C frontend run build-server

    - run: docker build -t animeta-frontend -f Dockerfile.prebuilt .

    # Deploy
    - name: Set up gcloud
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: google-github-actions/setup-gcloud@v0
      with:
        version: '270.0.0'
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
    - name: Upload assets
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: gsutil -m cp -z js,css,map -r frontend/dist/static gs://animeta-static/
    - name: Docker push
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: |
        gcloud auth configure-docker
        docker tag animeta-frontend gcr.io/ditto-1470749749381/animeta-frontend:latest
        docker push gcr.io/ditto-1470749749381/animeta-frontend:latest
    - name: Configure AWS Credentials
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: ap-northeast-2
        role-to-assume: arn:aws:iam::307761743095:role/animeta-deploy-github-actions-Role-19IZBY3F8TXQ
    - name: Deploy lambda
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: ./deploy/lambda/package.sh && ./deploy/lambda/deploy.sh
