{% extends "work/base.html" %}

{% block content %}
<p class="episodes">
{% for episode in episodes %}
{% if episode.post_count > 0 %}
    <a href="{% url 'work.views.episode_detail' title=work.title ep=episode.number %}"{% if episode.number == current_episode %} class="active"{% endif %}>{{ episode.number }}화</a>
    {% if not forloop.last %}&middot;{% endif %}
{% endif %}
{% endfor %}
</p>

{% for history in history_list %}
    {% include "history.html" with show_user=1 %}
{% endfor %}
{% endblock %}
