{% extends "base.html" %}

{% block nav %}
<h1><a href="/works/merge-dashboard/">병합 작업 현황판</a></h1>
<p><a href="http://blog.animeta.net/entry/title-merge">참여하는 방법 보러가기 &raquo;</a></p>
{% endblock %}

{% block content %}
<h2>기여해주신 분들</h2>
<p>
{% for user in contributors %}
	<a href="{{ user.get_absolute_url }}">{{ user.username }}</a> <small>({{user.count}})</small>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>

<h2>최근 병합 요청 목록</h2>
{% if user.is_authenticated %}
<form method="post" action="">
{% if error %}
<p class="message">{{ error }}</p>
{% endif %}
<p>
	직접 추가
	<input type="text" name="target" class="autocomplete" /> +
	<input type="text" name="source" class="autocomplete" />
	<input type="submit" value="추가" />
</p>
</form>
{% endif %}

<table>
{% for merge in merge_list %}
{% if not merge.trivial %}
<tr>
	<td style="padding-right: 2em">{{ merge.user }}</td>
	<td style="text-align: right"><a href="{{ merge.target.get_absolute_url }}" class="work">{{ merge.target }}</a></td>
	<td>+ <a href="{{ merge.source.get_absolute_url }}" class="work">{{ merge.source }}</a></td>
</tr>
{% endif %}
{% endfor %}
</table>

{% if page_obj %}
<p id="pagination">
{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}" class="prev-page">&larr; 이전</a>{% endif %}
<strong>{{ page_obj.number }}</strong>/{{ paginator.num_pages }} 페이지
{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}" class="next-page">다음 &rarr;</a>{% endif %}
</p>
{% endif %}
{% endblock %}
