{% extends "work/base.html" %}

{% load status history %}

{% block head-extra %}
	<meta property="og:title" content="{{ work.title }}" />
	<meta property="og:type" content="tv_show" />
	<meta property="og:url" content="http://animeta.net{% url work.views.detail work.title %}" />
	<meta property="og:image" content="http://animeta.net/static/animeta.gif" />
	<meta property="og:site_name" content="animeta" />
	<meta property="og:description" content="" />
	<meta property="fb:app_id" content="153413084690553" />
	<script src="http://connect.facebook.net/ko_KR/all.js#xfbml=1"></script>
{% endblock %}

{% block nav %}
{{ block.super }}
<div id="facebook-like"><fb:like show_faces="false" width="300" height="35" font="segoe ui"></fb:like></div>
{% endblock %}

{% block content %}
<div id="comments">
<h2>기록</h2>
{% for history in comments %}
	{% show_history history "user" %}
{% endfor %}
</div>

<div id="videos">
<h2>동영상</h2>
<p>동영상 검색 제공: <a href="http://tvpot.daum.net/">다음 TV팟</a></p>

<div id="video-search-result">
<p>
	<noscript>자바스크립트를 지원하는 브라우저에서만 보입니다.</noscript>
	<a href="http://tvpot.daum.net/search/Tvpot.do?q={{ work.title|urlencode }}">직접 검색</a>
</p>
</div>
</div>

{% if daum_api_key %}
<script type="text/javascript" src="/static/tvpot.js"></script>
<script type="text/javascript">
var tvpot = new TVPot('{{ daum_api_key }}')
$(function() {
	var m = /tvpot-page([0-9]+)/.exec(location.hash)
	if (m) tvpot.page = parseInt(m[1])
	tvpot.$element = $('#video-search-result')
	tvpot.q = '{{ work.title }}'
	tvpot.search()
})
</script>
{% endif %}
{% endblock %}
