<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - 애니메타</title>
</head>
<body>
<script>
if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect)document.body.className+=' no-svg';
</script>
<script>
var PreloadData = eval('({{ preload_data|escapejs }})');
</script>
<script src="//cdn.jsdelivr.net/es5.shim/2.1.0/es5-shim.min.js"></script>
<script src="//cdn.jsdelivr.net/es5.shim/2.1.0/es5-sham.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}build/{{ asset_filenames.work }}"></script>
</body>
</html>
