{% extends "work/base.html" %}

{% load status history %}

{% block head-extra %}
	<meta property="og:title" content="{{ work.title }}" />
	<meta property="og:type" content="tv_show" />
	<meta property="og:url" content="http://animeta.net{% url work.views.detail work.title %}" />
	<meta property="og:image" content="http://animeta.net/static/animeta.gif" />
	<meta property="og:site_name" content="animeta" />
	<meta property="og:description" content="" />
	<meta property="fb:app_id" content="153413084690553" />
	<script src="http://connect.facebook.net/ko_KR/all.js#xfbml=1"></script>
{% endblock %}

{% block nav %}
{{ block.super }}
<div id="facebook-like"><fb:like show_faces="false" layout="button_count" width="100" height="35" font="segoe ui"></fb:like></div>
{% endblock %}

{% block content %}
<div id="videos">
{% if similar_works %}
<div id="similar">
<h2>제목이 비슷한 작품</h2>
<ul>
{% for w in similar_works %}
	<li>
		<a href="{{ w.get_absolute_url }}" class="work">{{ w.title }}</a>
		{% if user.is_authenticated and not w.has_merge_request %}
		<a href="merge/{{ w.id }}/" onclick="request_merge(this); return false">[같은 작품이에요!]</a>
		{% endif %}
	</li>
{% endfor %}
</ul>
<script type="text/javascript">
function request_merge(link) {
	$.ajax({
		type: 'POST',
		url: link.href,
		success: function (data) { 
			if (data == 'merged')
				$(link).text('[요청 취소]')
			else
				$(link).text('[다시 요청하기]')
		},
		error: function (data) {
			alert('오류가 발생했습니다. 다시 시도해보세요!')
		}
	})
}
</script>
</div>
{% endif %}

<h2><a href="http://tvpot.daum.net/search/#service=clip&amp;q={{ work.title|urlencode }}">동영상</a></h2>
<div id="video-search-result">
</div>
</div>

<div id="comments">
<h2>기록</h2>
{% for history in comments %}
	{% show_history history "user" %}
{% endfor %}
</div>

{% if daum_api_key %}
<script type="text/javascript" src="/static/tvpot.js"></script>
<script type="text/javascript">
var tvpot = new TVPot('{{ daum_api_key }}')
$(function() {
	var m = /tvpot-page([0-9]+)/.exec(location.hash)
	if (m) tvpot.page = parseInt(m[1])
	tvpot.$element = $('#video-search-result')
	tvpot.q = '{{ work.title }}'
	tvpot.search()
})
</script>
{% endif %}
{% endblock %}
